.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	align-items: center;
}
.locations {
	height 100%;
	width: 25%;
	float: left;
	padding-left: 40px;
	border-right: solid #DDDDDD 1px;
}
.amenities {
	height: 100%;
	width: 25%;
	float: left;
	padding-left: 40px;
}
h3 {
	font-weight: 600;
	margin-bottom: 10px;
}
h4 {
	font-weight: 400;
	font-size: 14px;
	line-height: 0px;
	margin 0px; 
}
button {
	color: white;
	font-size: 18px;
	float:right;
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	border-style: none;
	border-radius: 4px;
	right: 30px;
	transform: translateY(-50%);
	top: 50%;
	position: relative;
}

button:hover {
	opacity: 0.9;
}
