.places {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.places h1 {
	font-size: 30px;
	width: 100%;
	padding-left: 20px;
}
article {
	width: 390px;
	padding: 30px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius 4px;
}
article h2 {
	font-size: 30px;
	text-align: center;
}

